@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Dedication styling
Also used for the 'Ita Missa Est' section at the end of part II */
section[epub|type~="dedication"],
section#ite-missa-est{
	text-align: center;
}

section[epub|type~="dedication"] > *,
section#ite-missa-est > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"],
	section#ite-missa-est{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *,
	section#ite-missa-est > *{
		margin: 0;
	}
}

#ite-missa-est b{
	font-variant: all-small-caps;
}

/* Poetry styling */
article,
section{
	break-after: page;
}

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

span > span + span{
	margin-left: 1.5em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i10{
	padding-left: 11em;
	text-indent: -1em;
}

p span.i12{
	padding-left: 13em;
	text-indent: -1em;
}

p span.i15{
	padding-left: 16em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] hgroup p{
	text-align: center;
}

/* "Dead Dialogue" styling, adapted from drama formatting */
table{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

tr:first-child td{
	padding-top: 0;
}

tr:last-child td{
	padding-bottom: 0;
}

td{
	padding: .5em;
	vertical-align: top;
}

td:last-child{
	padding-right: 0;
}

td:first-child{
	padding-left: 0;
}

td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

/* Prelude styling */
#prelude p{
	font-style: italic;
}

#prelude i{
	font-style: normal;
}
